article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.top {
  position: fixed;
  width: 90px;
  animation-delay: .5s; }

.midnightHeader.default h1 {
  background-image: url(../assets/light.svg); }

.midnightHeader.black h1 {
  background-image: url(../assets/dark.svg); }

.midnightHeader.light h1 {
  background-image: url(../assets/light.svg); }

.logo h1 {
  text-indent: -1000%;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 87px;
  width: 97px;
  margin: 30px; }

.nav {
  background: #11232e;
  width: 100%;
  height: 60px;
  display: none; }

.sticky {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

.mobileLogo {
  float: left;
  margin-left: 5px;
  margin-top: 5px; }
  .mobileLogo img {
    max-width: 50px; }

.menuToggle {
  width: 22px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  float: right;
  right: 20px;
  top: 10px; }

.menuToggle:before, .menuToggle span, .menuToggle:after {
  width: 100%;
  height: 4px;
  display: block;
  background: #01afd3;
  border-radius: 2px;
  position: absolute;
  opacity: 1; }

.menuToggle:before, .menuToggle:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: ""; }

.menuToggle:before {
  top: 7px; }

.menuToggle span {
  top: 15px; }

.menuToggle:after {
  top: 23px; }

/* Hover */
.menuToggle:hover:before {
  top: 7px; }

.menuToggle:hover:after {
  top: 23px; }

/* Click */
.menuToggle.close span {
  opacity: 0; }

.menuToggle.close:before, .menuToggle.close:after {
  top: 40%; }

.menuToggle.close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/ }

.menuToggle.close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/ }

.menuToggle:focus {
  outline: none; }

.front {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: 90vh;
  -ms-flex-pack: center;
      justify-content: center;
  background: linear-gradient(rgba(17, 35, 46, 0.9), rgba(17, 35, 46, 0.9)), url(../assets/backbw.jpg);
  background-size: cover;
  background-position: 40%; }
  .front ul {
    list-style-type: none;
    padding: 0;
    animation-delay: .5s; }
    .front ul li {
      display: inline;
      margin: 10px;
      color: white;
      font-size: 18px;
      font-weight: 500; }
      .front ul li a {
        text-decoration: none;
        color: white;
        transition: all .5s ease; }
      .front ul li a:hover {
        color: #01afd3; }
  .front h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.45); }
    .front h2 a {
      color: white;
      text-decoration: none;
      border-bottom: 5px solid #01afd3;
      transition: all .5s ease; }
    .front h2 a:hover {
      color: #01afd3;
      border-bottom: 5px solid white; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

.wrapper {
  max-width: 1050px;
  margin: 0 auto; }

p {
  line-height: 1.618; }

#line {
  height: 7px;
  width: 100%;
  background: #11232e;
  background: linear-gradient(to right, #11232e 0%, #01afd3 50%, #e3fbff 100%); }

h2.sectionTitle {
  margin: 70px 0;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center; }

.darkTitle {
  color: #11232e; }

.lightTitle {
  color: white; }

.work {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .work .project {
    background: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 5px;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 50px;
    margin: 0 30px 50px 30px;
    animation-duration: 1s;
    animation-delay: .3s; }
    .work .project .info .used {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .work .project .info .seeMore {
      display: -ms-flexbox;
      display: flex; }
    .work .project .info a:hover {
      background: #0099b8;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      color: white;
      border: 1px solid #0099b8; }
    .work .project .info, .work .project .preview {
      width: 50%;
      padding: 0px 20px; }
      .work .project .info p, .work .project .preview p {
        margin-top: 10px;
        font-weight: 400;
        margin-bottom: 25px; }
      .work .project .info h3, .work .project .preview h3 {
        color: #11232e;
        margin-top: 0;
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Raleway',sans-serif; }
      .work .project .info a, .work .project .preview a {
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        border: 1px solid;
        background: none;
        border-radius: 3px;
        margin-right: 10px;
        transition: .3s ease; }
        .work .project .info a i, .work .project .preview a i {
          font-size: 25px; }
    .work .project .preview {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
    .work .project .preview img {
      max-width: 380px; }
    .work .project img.seeGit {
      max-width: 30px; }
    .work .project span.accentBack {
      padding: 5px 10px;
      font-weight: 400;
      color: white;
      margin-bottom: 10px;
      background: #0099b8;
      letter-spacing: .5px;
      border-radius: 3px; }

.project.reversed.wow.fadeInLeft.animated .preview {
  -ms-flex-pack: end;
      justify-content: flex-end; }

section.about {
  width: 100%;
  background-image: url(/public/assets/crossword.png);
  background-attachment: fixed; }

.aboutContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  animation-duration: .5s; }

.aboutMe {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px; }
  .aboutMe h3 {
    font-size: 22px;
    line-height: 35px;
    margin-top: 0; }
  .aboutMe p {
    font-size: 18px;
    margin: 0;
    font-weight: 500; }

.skills {
  animation-delay: .5s;
  animation-duration: 1s; }
  .skills .devicons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px; }
    .skills .devicons .skill {
      width: 20%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column; }
      .skills .devicons .skill img {
        max-width: 60px; }
      .skills .devicons .skill p {
        margin-top: 10px;
        margin-bottom: 25px; }

span.underlined {
  border-bottom: 2px solid #0099b8; }

section.contact {
  background: linear-gradient(rgba(17, 35, 46, 0.9), rgba(17, 35, 46, 0.9));
  width: 100%;
  background-size: cover;
  background-position: 40%;
  display: -ms-flexbox;
  display: flex; }
  section.contact h2 {
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.45); }
  section.contact .contactInfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    animation-delay: .3s;
    animation-duration: 2s;
    max-width: 450px; }
    section.contact .contactInfo p {
      color: white;
      font-size: 20px;
      text-align: center;
      margin-top: 0;
      letter-spacing: .8px;
      font-weight: 400;
      margin-bottom: 30px; }
    section.contact .contactInfo a {
      color: #01afd3;
      text-decoration: none; }
    section.contact .contactInfo a:hover {
      color: white; }

textarea.feedback-input {
  height: 100px;
  margin-bottom: 30px;
  resize: none; }

.contact form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px 0px 45px 0px;
  margin-bottom: 60px;
  background: white; }

button.submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 70px;
  height: 70px;
  left: 40%;
  font-size: 20px;
  border: none;
  background: #01afd3;
  border-radius: 100%;
  position: absolute;
  bottom: -35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: .5s ease; }

button.submit:hover {
  background: #0099b8;
  width: 75px;
  height: 75px;
  font-size: 22px;
  color: white;
  padding: 22px; }

input.feedback-input, textarea.feedback-input {
  background: none;
  border: none;
  min-width: 300px;
  border-bottom: 1px solid #11232e;
  border-top: 2px solid transparent;
  padding: 10px;
  margin: 20px 0px;
  color: #01afd3;
  font-size: 18px; }

input.feedback-input:focus, textarea.feedback-input:focus {
  background: white;
  color: #11232e;
  outline: none !important;
  border-radius: 3px;
  border: 2px solid #0099b8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }

.social {
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px; }
  .social i {
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition: .5s ease; }
  .social i:hover {
    color: #0099b8; }

footer {
  background: #11232e;
  width: 100%; }
  footer p {
    text-align: center;
    color: white;
    font-weight: 4f00; }

.mobileMenu {
  background: linear-gradient(rgba(17, 35, 46, 0.95), rgba(17, 35, 46, 0.95));
  color: white;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  visibility: hidden;
  bottom: 0;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .mobileMenu ul {
    list-style-type: none;
    padding: 0; }
    .mobileMenu ul li {
      text-align: center;
      font-size: 30px;
      margin: 70px; }
      .mobileMenu ul li a {
        text-decoration: none;
        color: white;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); }
      .mobileMenu ul li a:hover {
        color: #0099b8; }

@media (max-width: 900px) {
  .work .project .preview img {
    max-width: 320px; } }

@media (max-width: 800px) {
  .project {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    padding: 50px; }
  .project.reversed {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .work .project .info, .work .project .preview {
    width: 100%; }
  .work .project .preview img {
    max-width: 100%;
    margin-bottom: 20px; }
  .work .project .info .used {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .seeMore {
    -ms-flex-pack: center;
        justify-content: center; } }

@media (max-width: 750px) {
  .front {
    background-position: 55%; } }

@media (max-width: 500px) {
  .front {
    background: linear-gradient(rgba(17, 35, 46, 0.9), rgba(17, 35, 46, 0.9)); }
  section.contact .contactInfo p {
    font-size: 18px;
    padding: 0 20px; }
  .contact form {
    width: 90%; }
  .social {
    width: 90%; }
  .top {
    display: none; }
  .nav {
    display: block; }
  .work .project {
    margin: 0 20px 40px 20px; }
  .work .project .info .used {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .work .project .info .used span.accentBack {
      margin: 5px; }
  input.feedback-input, textarea.feedback-input {
    min-width: 250px; }
  button.submit {
    font-size: 22px; } }
